body{
    margin: 0;
    padding: 0;
    background: url(nazi.png);   
    background-size: cover;
    background-position: 1;
    font-family: sans-serif;
}

.Button {
    background-color: transparent;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 13px 31px;
    margin-right: 6px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.Button:hover {
	background-color:white;
	color:black;
}
.Button:active {
	position:relative;
	top:1px;
}
.Shape{
    clip-path: polygon(0 0, 55% 0, 35% 100%, 0% 100%);
    position: fixed;
    height: 100%;width: 100%;
}
.ShapeStyle{
    background-color: #20232d;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: opacity(55%)
    ;z-index: -1;
} 